@model PhotoViewModel

@{ 
    ViewData["Title"] = "My photo gallery";
} 

<div class="panel panel-default photo-panel">
    
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>Miniature</td>
                <td>Title</td>
                <td>Description</td>
                <td>Tags</td>
            </tr>
        </thead>

        @foreach (var photo in Model.Photos)
	    {
		    <tr>
                <td>@photo.UrlToThumbnail</td>
                <td>@photo.Title</td>
                <td>@photo.Description</td>
                <td>@photo.Tags</td>
            </tr>
	    }

    </table>
    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("_AddPhotoPartial", new PhotoItemViewModel()) 
    </div>

</div>