@model PhotoItemViewModel

@{
    ViewData["Title"] = "Photo details";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<label class="text-secondary">Title: &nbsp</label>@Model.Title <br />
<label class="text-secondary">Description: &nbsp</label>@Model.Description <br />
<label class="text-secondary">Tags: &nbsp</label>@Model.Tags <br />
<img class="img-fluid" src="@Model.UrlToImage" />



